<launch>
	<arg name="model" default="Stero_Setup"/>
	<arg name="pos_x" default="0.0"/>
	<arg name="pos_y" default="0.0"/>
	<arg name="pos_z" default="0.0"/>
	<arg name="rviz_stereo_config" default="$(find ros_stereo_vision)/config/stereo_setup.rviz" doc="File for the rviz configuration"/>

	<!-- loading the robot desription in the parameter server-->
	<param name="robot_description" command="cat $(find ros_stereo_vision)/urdf/Stero_Setup.urdf"/>

	<!-- launching the robot_publisher adn joint_state_publisher nodes to get the frame positions-->
	<node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>
	<node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
		<param name="use_gui" value="false"/> <!-- deprecated and should use standalone package "joint_state_publisher_gui"-->
	</node> 

	<!-- launching an empty world-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch"/>

	<!-- spawning the robot model in gazebo from the urdf loaded in the parameter server-->
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg model) -x $(arg pos_x) -y $(arg pos_y) -z $(arg pos_z) -param robot_description" />
	
	<!-- launching the rviz to visulaize the frames of the robot-->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg rviz_stereo_config)" />

</launch>